<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
    <head>
        <meta charset="UTF-8">
        <title th:text="'Проверка сайта ' + ${url.name}"></title>
        <style>
        .flex-even {
          flex: 1;
        }
        </style>
        <script th:inline="javascript">
            function confirmDelete(event) {
                event.preventDefault();
                /*[+
                var url  = '/urls/' + [[${url.id}]];
                 +]*/
                if (confirm("Вы уверены, что хотите удалить сайт из списка?")) {
                    fetch(url, {
                    method: 'DELETE'
                    }).then(response => {
                        if (response.redirected) {
                            window.location.href = response.url;
                        }
                    });
                }
            }
        </script>
    </head>
    <body class="bg-dark">
        <section layout:fragment="content">
            <div class="container-lg mt-3">
                <h1 class="text-white display-5 mb-0" th:text="'Cайт ' + ${url.name}"></h1>
                <div class="row mt-3">
                    <div class="col-6">
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item flex-even text-white bg-dark border-white border-bottom-0"
                                style="--bs-border-opacity: .5;">
                                <p class="lead fw-bold m-0">ID</p>
                            </li>
                            <li class="list-group-item flex-even text-white bg-dark border-white border-bottom-0"
                                style="--bs-border-opacity: .5;">
                                <p class="lead m-0" th:text="${url.id}"></p>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item flex-even text-white bg-dark border-white border-bottom-0"
                                style="--bs-border-opacity: .5;">
                                <p class="lead fs-5 fw-bold m-0">Имя</p>
                            </li>
                            <li class="list-group-item flex-even text-white bg-dark border-white border-bottom-0"
                                style="--bs-border-opacity: .5;">
                                <p class="lead m-0" th:text="${url.name}"></p>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item flex-even text-white bg-dark border-white "
                                style="--bs-border-opacity: .5;">
                                <p class="lead fw-bold m-0">Дата создания</p>
                            </li>
                            <li class="list-group-item flex-even text-white bg-dark border-white"
                                style="--bs-border-opacity: .5;">
                                <p class="lead m-0" th:text="${#temporals.format(url.createdAt, 'dd.MM.yyyy HH:mm')}">
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="fs-2 fw-light text-white mb-2">Проверки</p>
                    <div class="form-container">
                        <form th:action="@{/urls/{id}/checks(id=${url.id})}" method="post">
                            <button type="submit" class="btn mb-2"
                                    style="background-color: #25ae88;">Запустить проверку</button>
                        </form>
                    </div>
                    <div th:if="${session.flash}">
                        <span class="text-warning" th:text="${ctx.consumeSessionAttribute('flash')}"></span>
                    </div>
                    <table class="table table-hover table-dark">
                        <thead>
                        <tr>
                            <th scope="col" class="ps-5">ID</th>
                            <th scope="col" class="">Код ответа</th>
                            <th scope="col" class="">title</th>
                            <th scope="col" class="">h1</th>
                            <th scope="col" class="">description</th>
                            <th scope="col" class="">Дата проверки</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr th:each="check : ${checks}">
                                <th scope="row" th:text="${check.id}" class="ps-5"></th>
                                <td th:text="${check.statusCode}"></td>
                                <td th:text="${check.title}"></td>
                                <td th:text="${check.h1}"></td>
                                <td th:text="${check.description}"></td>
                                <td th:text="${#temporals.format(check.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn mb-2 text-black" style="background-color: #25ae88;"
                       th:href="@{/urls/{id}/update(id=${url.id})}" role="button">Редактировать</a>
                    <button class="btn btn-danger mb-2 mx-2 text-black"
                            th:onclick="confirmDelete(event)">Удалить сайт</button>
                </div>
            </div>
        </section>
    </body>
</html>
