<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created at</th>
        </tr>
        <tr th:each="url : ${urls}">
            <td th:text="${url.id}">Onions</td>
            <td th:text="${url.name}">2.41</td>
            <td th:text="${#temporals.format(url.createdAt, 'dd.MM.yyyy HH:mm')}">yes</td>
        </tr>
    </table>
</section>
</body>
</html>