<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
    <head>
        <meta charset="UTF-8">
        <title>Добавленные сайты</title>
        <style>
            .pagination .page-link {
                border: 1px solid rgba(255, 255, 255, .25);
                background: #212529;
                color: white;
            }
        </style>
    </head>
    <body class="bg-dark">
        <section layout:fragment="content">
            <div class="container-lg mt-3">
                <h1 class="text-white display-5 mb-0">Сайты</h1>
                <div th:if="${session.flash}">
                    <span class="text-success" th:text="${ctx.consumeSessionAttribute('flash')}"></span>
                </div>
                <table class="table table-striped table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="ps-5 col-1">ID</th>
                            <th scope="col" class="col-5">Имя</th>
                            <th scope="col" class="col-2">Последняя проверка</th>
                            <th scope="col" class="col-2">Код ответа</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="url : ${urls}">
                            <th scope="row" th:text="${url.id}" class="ps-5"></th>
                            <td>
                                <a class="link-light" th:href="@{/urls/{url_id}(url_id=*{url.id})}"
                                   th:text="${url.name}"></a>
                            </td>
                            <td>
                                <span th:unless="${url.getLastCheck() == null}"
                                      th:text="${#temporals.format(url.getLastCheck().createdAt, 'dd.MM.yyyy HH:mm')}"></span>
                            </td>
                            <td>
                                <span th:unless="${url.getLastCheck() == null}"
                                      th:text="${url.getLastCheck().statusCode}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="URL page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{/urls?page={page}(page=${pageNum == 1 ? 1 : pageNum - 1})}">Назад</a>
                        </li>
                        <li class="page-item" style="--bs-border-opacity: .5;">
                            <a class="page-link" th:href="@{/urls?page={page}(page=${pageNum + 1})}">Вперед</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </body>
</html>
